@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Raleway:700');

.expand {
  transform: scale(60);
}
#blender {
  width: 3rem;
  height: 3rem;
  position: fixed;
  border-radius: 50%;
  right: calc(50% - 21.5rem);
  bottom: 1rem;
  pointer-events: none;
  background: white;
  transition: all 0.5s ease;
  mix-blend-mode: difference;
}

.twitter-logo {
  isolation: isolate;
}



html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 100%/1.5 "Libre Baskerville", serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 3rem;
  color: hsla(0, 0%, 0%, 1);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-rendering: optimizeLegibility;
  font-size: 2rem;
  line-height: 1.4;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1rem;
  color: hsla(0, 0%, 0%, 1);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-rendering: optimizeLegibility;
  font-size: 1.51572rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1rem;
  color: hsla(0, 0%, 0%, 1);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-rendering: optimizeLegibility;
  font-size: 1.31951rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1rem;
  color: hsla(0, 0%, 0%, 1);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1rem;
  color: hsla(0, 0%, 0%, 1);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-rendering: optimizeLegibility;
  font-size: 0.87055rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1rem;
  color: hsla(0, 0%, 0%, 1);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-rendering: optimizeLegibility;
  font-size: 0.81225rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1rem;
}
ul {
  margin-left: 1.5rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.5rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1rem;
  font-size: 0.85rem;
  line-height: 1.5rem;
  overflow-x: auto;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1rem;
}
blockquote {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  padding-bottom: 0;
  padding-left: 1rem;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1rem;
  color: hsla(0, 0%, 0%, 0.7340000000000001);
  border-left: 4px solid #999;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1rem;
}
b {
  font-weight: 700;
}
strong {
  font-weight: 700;
}
dt {
  font-weight: 700;
}
th {
  font-weight: 700;
}
li {
  margin-bottom: calc(1rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.5rem;
  margin-bottom: calc(1rem / 2);
  margin-top: calc(1rem / 2);
}
li > ul {
  margin-left: 1.5rem;
  margin-bottom: calc(1rem / 2);
  margin-top: calc(1rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1rem / 2);
}
code {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: Dank Mono, monospace;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.5rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.5rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: calc(0.75rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 80%;
    line-height: 19.2px;
  }
}
a {
  font-weight: bold;
  color: #00f;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
}
h2,
h3 {
  margin-top: 1.5rem;
  line-height: 1.4;
}
h1 code,
h2 code,
h3 code {
  font-size: unset;
}
p + h2,
p + h3 {
  margin-top: 3rem;
}

.s-module--author--1QT_I {
  border-bottom: none;
  white-space: nowrap;
  margin-right: 0.5rem;
}

.s-module--intro--1v3wl {
  margin: -2rem auto 2rem;
  font-size: 1.2rem;
  display: -webkit-flex;
  display: flex;
  min-height: 2rem;
  -webkit-align-items: baseline;
  align-items: baseline;
  padding: 0 1rem;
}

@media screen and (max-width: 380px) {
  .s-module--intro--1v3wl {
    display: block;
  }
}

.s-module--pre--3NC-2 {
  white-space: nowrap;
}

@media screen and (max-width: 800px) {
  .s-module--pre--3NC-2 {
    font-size: 0.75rem;
  }
}

.s-module--links--ozFGS {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: baseline;
  align-items: baseline;
}

@media screen and (max-width: 380px) {
  .s-module--links--ozFGS {
    margin-top: 0.5rem;
  }
}

@media screen and (min-width: 380px) {
  .s-module--links--ozFGS {
    margin-left: 0.5rem;
    text-align: right;
  }
}

.s-module--link--nIVjQ {
  padding: 0;
  margin-bottom: 0;
  border-bottom: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.s-module--link--nIVjQ:not(:first-child) {
  margin-left: 0.2rem;
}

.s-module--link--nIVjQ > img,
.s-module--link--nIVjQ > svg {
  width: 1rem;
  height: 1rem;
}

.s-module--link--nIVjQ > svg {
  color: #000;
}

.s-module--header--2utkj {
  margin: 4rem auto 3rem;
  padding: 0 1rem;
}

.s-module--footer--3LbWM {
  font-family: Raleway, sans-serif;
  margin: 3rem 0 1rem;
  font-size: medium;
  color: #aaa;
  padding: 1rem;
  text-shadow: #fff 0 2px, #ccc 0 3px;
}

:root {
  font-size: 112.5%;
}

img {
  isolation: isolate;
}

.s-module--main--1XB_z {
  max-width: 35rem;
  margin: 0 auto;
}



@media screen and (max-width: 380px) {
  .s-module--blender--d9X_A {
    right: 1rem;
  }
}

.s-module--expanded--Qz3rQ {
  -webkit-transform: scale(60);
  transform: scale(60);
}

.s-module--toggle--2hd7F {
  background: #100f2c;
  width: 3rem;
  height: 3rem;
  position: fixed;
  border-radius: 50%;
  right: calc(50% - 21.5rem);
  bottom: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

@media screen and (max-width: 380px) {
  .s-module--toggle--2hd7F {
    right: 1rem;
    opacity: 0.8;
  }
}

.s-module--hasZIndex--1QkpC {
  z-index: 1;
}

@media screen and (max-width: 380px) {
  .s-module--hasZIndex--1QkpC {
    opacity: 0.2;
  }
}

.s-module--bg--1FVQ9 {
  position: fixed;
  background: #efefef;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.blog-post-module--post--3laZV {
  background: #fff;
  padding: 1rem;
}

.blog-post-module--post--3laZV > blockquote {
  margin-left: -1rem;
  margin-right: 0;
  border-left: 7px solid #444;
}

.blog-post-module--date--_pArM {
  padding: 1rem;
  margin-bottom: 0;
  background: #fff;
}

small {
  font-family: Open Sans, sans-serif;
  font-size: 0.8rem;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.44);
  display: block;
}

.s-module--title--2J6ew {
  margin-bottom: 0.5rem;
}

.s-module--excerpt--3m4JY {
  margin-top: 0.5rem;
}

p {
  line-height: 2rem;
}

ul {
  padding: 0;
}

body {
  margin: 0;
  background: #efefef;
}

.s-module--read--3t7Sj {
  margin-left: 0.3rem;
  white-space: nowrap;
}

.s-module--post--LdKLS {
  background: #fff;
  border-radius: 2px;
  padding: 1rem;
  margin: 1rem auto;
}
